@import "tailwindcss";

:root {
  --background: #0d1321;
  --base-1: #0d1321;
  --base-2: #3e5c76;
  --base-3: #748cab;
  --base-4: #030712;
  --foreground: #f0ebd8;
  --sidebar-width: 40%;
}

body {
  background: var(--background);
  color: white;
}

.sidebar-grid {
  grid-template-columns: var(--sidebar-width) 1fr;
  transition: grid-template-columns 0.3s ease;
}